
$Lightred: hsl(356, 100%, 66%);
$Very-red: hsl(355, 100%, 74%);
$Dark-blue : hsl(208, 49%, 24%);
$White: hsl(0, 0%, 100%);
$Grayish-blue: hsl(240, 2%, 79%);
$Very-Grayish: hsl(207, 13%, 34%);
$Very-dark-blue: hsl(240, 10%, 16%);
$border:8rem;
